@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* GLOBAL STYLES */

body {
  background-color: #f2eae2;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 2rem 0.7rem 3rem;
}

/* CARD BLOCK */

.card {
  max-width: 350px;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
}

.card__img-box {
  height: 342px;
  object-fit: cover;
}

.card__img {
  border-radius: 8px 8px 0 0;
}

/* CARD BODY */

.card__body {
  padding: 2rem;
}

.card__type {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 5px;
}

.card__title {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 100%;
  color: #1c232b;
  margin: 1.5rem 0;
}

.card__description {
  font-size: 0.875rem;
  line-height: 160%;
  font-weight: 500;
}

.card__price {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__price--discount {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 100%;
  color: #3d8168;
}

.card__price--old {
  font-size: 0.813rem;
  line-height: 120%;
  text-decoration: line-through;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  border: none;
  background-color: #3d8168;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.card__button-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.card__button-text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 110%;
}

/* HOVER AND FOCUS STATES */

.card__button:hover,
.card__button:focus {
  background-color: #1a4032;
}

/* MEDIA QUERIES */

@media (min-width: 800px) {
  body {
    height: 100vh;
    align-items: center;
  }

  .card {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
  }

  .card__img-box {
    flex-basis: 50%;
    height: auto;
  }

  .card__img {
    border-radius: 8px 0 0 8px;
  }

  .card__body {
    flex-basis: 50%;
  }
}
